<h1>All of the delicious cocktails</h1>

<ul>
<% @cocktail.each do |cocktail| %>
<li><%= link_to cocktail.name, cocktail %></li>
<% end %>
</ul>

<h3>Create new cocktail</h3>
<%= link_to 'Create new cocktail here', new_cocktail_path %>

<%= cl_image_tag("sample.jpg",
      :effect=>"brightness_hsb", :radius=>6) %>
