    <%= render 'shared/home-banner' %>


<ul>
<% @cocktail.each do |cocktail| %>
<li><%= link_to cocktail.name, cocktail %></li>
<% end %>
</ul>

<h3>Create new cocktail</h3>
<%= link_to 'Create new cocktail here', new_cocktail_path %>


