// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wrapper {
  width: 100%;
  background-color: #F4F2F2;
}

.my-container {
  width: 900px;
  margin: 0 auto;
  padding: 50px;
}

.dose-form {
  margin-top: 60px;
  width: 800px;
}

.dose-form h4 {
  color: gray;
  margin-left: 50px;
}

.dose-text {
  color: #86D930;
  font-weight: bold;
}

.dose-container {
  background-color: white;
  width: 800px;
  border-radius: 4px;
  padding: 50px;
}

.dose-container h3 {
  margin-bottom: 50px;
}

