// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

body {
  background-color: white;
}

h1 {
  font-family: 'Spectral SC', serif;
}

h2, h3, h4 {
  font-weight: lighter;
  font-family: 'Quicksand', sans-serif;
}

p {
  font-family: 'Quicksand', sans-serif;
}


a {
  font-family: 'Quicksand', sans-serif;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #B8E986;
}

.my-container h2 {
  margin-bottom: 50px;
}
