
<div class="flex-two-col">
  <div class="flex-left">
    <%= cl_image_tag("cocktails.png") %>
  </div>
  <div class="flex-right">
    <h1>Cocktail Lovers</h1>
    <h2>The only place to find the best cocktail recipes and create your own. </h2>
    <%= link_to 'Create new cocktail here', new_cocktail_path,{class: "btn btn-primary", id: "home-banner-button"} %>
  </div>
</div>
