

<nav>
  <div class="nav-left">
  <%= cl_image_tag("cocktail-logo.png", :width=>50, :crop=>"scale")%>
       <p class="logo-small">Cocktail lovers</p>
  </div>
  <div class= "nav-right">
    <%= link_to 'View all', cocktails_path %>
    <%= link_to 'Add cocktail', new_cocktail_path %>
  </div>
</nav>

