

<nav>
  <div class="nav-left">
  <%= cl_image_tag("cocktail-logo.png", :width=>50, :crop=>"scale")%>
      <%= link_to 'Cocktail lovers', cocktails_path, {class: "logo-small"} %>
  </div>
  <div class= "nav-right">
    <%= link_to 'View all', cocktails_path %>
    <%= link_to 'Add cocktail', new_cocktail_path %>
  </div>
</nav>

