
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.card {
  color: red;
  width: 300px;
  height: 300px;
  flex: 0 1 24%;
  margin: 30px;
  display: flex;
  justify-content: center;
  border-radius: 2px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);


}

.card-title {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 50%;
}


