nav {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.nav-left {
  display: flex;
}

.nav-right {
  display: flex;
}

.logo-small {
font-family: 'Spectral SC', serif;
}

.nav-right a {
  margin-right: 20px;
}

